{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"> -->

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
        {% block title %}
            Project engine
        {% endblock %}
    </title>
    <style>
        body {
            background-color: #ddffdd
        }
    </style>
    -->
</head>
<body>
{% block content %}
    There is no any content
{% endblock %}

{% block admin_panel %}



{% endblock %}


</body>
</html>