{% extends 'cw_19/base_cw_19.html' %}

{% block title %}
    task_5
{% endblock %}

{% block content %}
    <form action="http://127.0.0.1:8000/cw_19/task_5/" method="post">
            <fieldset>
                <label for="x_1">First</label><br>
                <input type="text" name="first_name" id="x_1" required><br>
                <label for="x_4">Last</label>
                <input type="text" name="last_name" id="x_4" required><br>
                <label for="x_2">Age</label><br>
                <input type="number" id="x_2" name="age"><br>
                <label for="x_3">Comment</label><br>
                <textarea name="comment" id="x_3" cols="30" rows="10" placeholder="Write some text here"></textarea><br>
                <input type="submit" value="Confirm">
            </fieldset>
        </form>
{% endblock %}