<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>test forms</title>
    <style>
        body {background-color: #ddffdd}
    </style>
</head>
    <body>
        <form action="http://127.0.0.1:8000/hw_18/task_2/" method="post">
            <fieldset>
                <legend><h3>Form</h3></legend>
                <label for="x_1">First</label>
                <input type="text" name="first_name" id="x_1" required><br>
                <label for="x_3">Last</label>
                <input type="text" name="last_name" id="x_3" required><br>
                <label for="x_2">Age</label>
                <input type="number" id="x_2" name="age"><br>
                <input type="submit" value="Confirm">
            </fieldset>
        </form>
    </body>
</html>